
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
}

a,link {
  text-decoration: none !important;
}
/* header */
.navFixed {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background:whitesmoke;
}
.navFixed2 {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background: #f8f0e1ae;
  transition:  ease 0.3s;
}


/* banner */
.banner {
  height: 600px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.banner img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bannerBgDark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.bannerTxt {
  position: absolute;
  font-family: "BernhardScriptW01-Light";
  font-style: normal;
}

.cafelocation{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cafetitle{
  position: absolute;
  top: 36px;
  right: -40px;
  text-shadow: 2px 2px 2px rgb(123, 123, 123);
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.cafeline{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  writing-mode: vertical-rl;
}
.cafeline hr{
  height: 100px;
}
.cafeImg{
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

/* productMask */
.productMask{
  width: 100%;
  display: flex;
}
.maskCard{
  overflow: hidden;
  position: relative;
}
.maskCard img{
  vertical-align: middle;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.maskCard .mask{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);           
  opacity: 1;
  transition: opacity 0.6s;
}
.maskCard:hover .mask{
  opacity: 0;
}

.maskCard .txt{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.maskCard .font-family{ 
  color: #fff;
  display: block;
  text-shadow: 1px 1px 1px rgb(83, 81, 81);
  font-family: 'Oswald', sans-serif;
}

/* breadCrumbs */
.breadCrumbs {
  max-width: 1200px;
  margin: 2rem;
  margin-left: 4rem;
}
.breadCrumbs > *{
  display: inline-block;
  margin-right: 12px;
}
.breadCrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadCrumbs .crumb:last-child:after {
  display: none;
}
.breadCrumbs .crumb a {
  color: #57361d;
}

/* meal */
.mealCard{
  width: 100%;
  height: 230px;
  overflow: hidden;
}
.mealImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.mealCard:hover .mealImg{
  transform: scale(1.1);
  text-shadow: 0px 0px 10px rgba(6, 6, 6, 0.8);
  
}

/* mealDetails */
.mealDetailImg{
  max-height: 270px;
  max-width: 396px;
  object-fit: scale-down;
}

.footLayout{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* loader */
.loader-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(252, 198, 132);
}
.throbber-loader{
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: rgb(64, 34, 1);
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}

.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: rgb(104, 55, 2);
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -2em;
}
.throbber-loader:not(:required):after {
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -2em;
}
@keyframes throbber-loader {
  0% {
    background: rgb(233, 229, 225);
  }
  10% {
    background: #e0b35f;
  }
  40% {
    background: rgb(104, 55, 2);
  }
}
/* products prolist*/
.pro-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-list-class{
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: $light;
  transition: 0.5s;
  background: linear-gradient(90deg, var(--c1, $info), var(--c2, $primary) 40%, var(--c1, $info)) var(--x, 0)/ 200%;
  text-shadow: 0px 0px 10px rgba(6, 6, 6, 0.8);
}
.pro-list-class:hover
{ --x: 100%;
  transform: translateY(-8px);
  border: 2px $primary solid; 
}

/*
.pro-list-class::after{
  color: red;
} 
*/