@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');


:root {
  --primary:  #9e5d02;
  --secondary: #adb5bd;
  --success: #57361d;
  --light: #f6dfb7db;
  --dark: #212529;
}
body {
  margin: 0;
  font-family: "Poppins";
}

button {
  cursor: pointer;
}

a,link {
  text-decoration: none !important;
}
/* header */
.navFixed {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background:whitesmoke;
}
.navFixed2 {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background: #f6dfb7ae;
  transition:  ease 0.3s;
}


/* banner */
.banner {
  height: 600px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.banner img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bannerBgDark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.bannerTxt {
  position: absolute;
  font-family: "BernhardScriptW01-Light";
  font-style: normal;
}

/* productMask */
.productMask{
  width: 100%;
  display: flex;
}
.maskCard{
  overflow: hidden;
  position: relative;
}
.maskCard img{
  vertical-align: middle;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.maskCard .mask{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);           
  opacity: 1;
  transition: opacity 0.6s;
}
.maskCard:hover .mask{
  opacity: 0;
}

.maskCard .txt{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.maskCard .font-family{ 
  color: #fff;
  display: block;
  text-shadow: 1px 1px 1px rgb(83, 81, 81);
  font-family: 'Oswald', sans-serif;
}

/* breadCrumbs */
.breadCrumbs {
  max-width: 1200px;
  margin: 2rem;
  margin-left: 4rem;
}
.breadCrumbs > *{
  display: inline-block;
  margin-right: 12px;
}
.breadCrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadCrumbs .crumb:last-child:after {
  display: none;
}
.breadCrumbs .crumb a {
  color: rgb(22, 21, 21);
}

/* meal */
.mealImg{
  height: 230px;
  overflow: hidden;
  object-fit: cover;
}

.mealCard:hover .mealImg{
  transform: scale(0.8);
  transition: 0.8s;
}

/* mealDetails */
.mealDetailImg{
  max-height: 270px;
  max-width: 396px;
  object-fit: scale-down;
}

