@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');


:root {
  --primary:  #9e5d02;
  --secondary: #adb5bd;
  --success: #57361d;
  --light: #f6dfb7db;
  --dark: #212529;
}
body {
  margin: 0;
  font-family: "Poppins";
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* banner */
.banner {
  height: 600px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.banner img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-bg-dark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.banner-txt {
  position: absolute;
  font-family: "BernhardScriptW01-Light";
  font-style: normal;
}
/* ProductMask */
.ProductMask{
  width: 100%;
  display: flex;
}
.maskcard{
  overflow: hidden;
  position: relative;
}
.maskcard img{
  vertical-align: middle;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.maskcard .mask{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);           
  opacity: 1;
  transition: opacity 0.6s;
}
.maskcard:hover .mask{
  opacity: 0;
}

.maskcard .txt{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.font-family{ 
  color: #fff;
  display: block;
  text-shadow: 1px 1px 1px rgb(83, 81, 81);
  font-family: 'Oswald', sans-serif;
}

.breadcrumbs {
  max-width: 1200px;
  margin: 1rem;
  margin-right: 2rem;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 12px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: rgb(22, 21, 21);
}
<<<<<<< Updated upstream
=======

.MealImg{
  height: 230px;
  overflow: hidden;
  object-fit: cover;
}

.mealCard:hover .MealImg{
  transform: scale(0.8);
  transition: 0.8s;
}

.MealDetailImg{
  max-height: 270px;
  max-width: 396px;
  object-fit: scale-down;
}

>>>>>>> Stashed changes
